<div class="row">
  <div class="mx-auto">
    <div class="d-flex align-items-center justify-content-center" style="height:500px;"><div>
    <h4 class="text-center">本当に退会しますか？</h4>
    <p class="text-center">退会すると、会員情報や、<br>
      これまでの投稿が排除されます。<br>
      退会する場合は、「退会する」をクリックしてください。
    </p>
    <div class="mt-4">
      <div class="col-md-12 row justify-content-around">
        <div>
          <%= link_to "退会しない", edit_customer_path(current_customer),class:"btn btn-primary" %>
        </div>
        <div class="offset-md-2">
          <%= link_to "退会する", unsubscribe_customers_path, method: :patch, "data-confirm" => "本当に削除しますか？", class:"btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>



