<div class="container">
 <div class="row justify-content-center">
  <div class="col-8">
   <h4 class= "mt-3 mb-5 text-center">不適切なコメント一覧</h4>
    <div class="row justify-content-between">


<% @comments.each do |comment| %>
  <%= comment.comment %><br>
<% end %>

   </div>
  </div>
 </div>
</div>