<div class="container">
 <div class="row justify-content-center">
  <div class="col-8">
   <h4 class= "mt-3 mb-5 text-center">投稿一覧</h4>
    <div class="row justify-content-between">
    <% posts.each do |post| %>
    <div class="card mb-5" style="width: 20rem;">
     <%= image_tag post.images[0] %>
    <div class="card-body">

    <h5 class="card-title">
     <%= link_to post_path(post.id) do %>
     <%= post.title %>
     <% end %>
    </h5>
    <p class="card-text"><%= post.text.truncate(40) %></p>
  </div>
</div>
    <% end %>
    </div>
  </div>
 </div>
</div>

