<div class="container">
 <div class="row justify-content-center">
  <div class="col-md-12">
   <h3 class="mt-3 mb-5 text-center">いいね一覧</h3>
    <div class="row justify-content-between">

  <% @favorites.each do |favorite| %>
  <%= image_tag favorite.post.customer.get_profile_image(50,50) %>
  <%= favorite.post.customer.name %>
  <%= favorite.post.genre.name %>
  <%= favorite.post.title %>
  <% end %>

   </div>
  </div>
 </div>
</div>


